<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagination</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <style>
    * {
      padding: 0;
      margin: 0;
    }

    .block-header {
      display: flex;
      margin-bottom: 1rem;
    }

    .block-header .title-modular {
      font-size: 25px;
      margin: 0;
    }

    .block-header .view-more {
      margin-left: auto;
      font-size: .85rem;
      display: flex;
      color: #005499;
      align-items: center;
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <svg xmlns="http://www.w3.org/2000/svg" width="150" viewBox="0 0 708.5986 207.18" data-v-4aba73b1="" class="">
          <title data-v-4aba73b1="">nshop-logo</title>
          <path d="M343.83,134.82V3.19h39.35V50.08h10.69V84.37H383.18v50.45ZM400,50.08V3.19h39.35V134.82H400Z"
            style="fill:#34495d;fill-rule:evenodd;" data-v-4aba73b1=""></path>
          <path
            d="M458,68.42q0-21.26,11.24-37.77l29.41,29.72a32.7214,32.7214,0,0,0-.93,7.88A30.2,30.2,0,0,0,506,89.6a27.16,27.16,0,0,0,20.68,8.88,26.68,26.68,0,0,0,20.57-9.09,31.73,31.73,0,0,0,.11-42.32A27.33,27.33,0,0,0,526.7,38.2a28.6794,28.6794,0,0,0-10.53,1.88l-28.1-28.39Q505,0,526.69,0,555,0,575.07,20t20,48.38q0,28.34-20,48.5t-48.38,20.19q-28.35,0-48.51-20.19T458,68.42Z"
            style="fill:#34495d;fill-rule:evenodd;" data-v-4aba73b1=""></path>
          <path
            d="M611.15,134.47V49.28c0-14.5,4.2-24.75,12.55-33.53,11.86-12.45,31.95-18.06,49-14.42C695.05,6.1,710.22,27.86,708.46,50c-2.55,32.23-25.36,40.39-51.85,39V55a14.6492,14.6492,0,0,0,7.18-.89c11.91-5.78,2.41-22.32-8.49-15.88a8,8,0,0,0-3.23,3.6,15.2389,15.2389,0,0,0-1.5,5.24q-.09,1.23-.09,2.67v84.69Z"
            style="fill:#34495d;fill-rule:evenodd;" data-v-4aba73b1=""></path>
          <path
            d="M256,133.79l.18-37.9a20.87,20.87,0,0,0,10.13,3.39c8.75.22,13.51-7,10.15-15.4-1.57-3.93-4.27-7.88-6-11.38a83.7254,83.7254,0,0,1-4.59-10.83A46.69,46.69,0,0,1,265,34,49,49,0,0,1,281,9.85a42.45,42.45,0,0,1,15.74-8.4A45.45,45.45,0,0,1,324.32,3.1v37a17.21,17.21,0,0,0-10.89-.55c-8.65,2.91-7.43,13.1-3.82,19.63,2.79,5.05,5.34,9.46,7.37,13.71a45.71,45.71,0,0,1,4.12,26.25C316.73,129.56,283.81,145.48,256,133.79Z"
            style="fill:#34495d;fill-rule:evenodd;" data-v-4aba73b1=""></path>
          <rect x="487.6485" y="2.3026" width="17.87" height="74.09" rx="5.6"
            transform="translate(115.8792 360.6071) rotate(-44.69)" style="fill:#f18c0c;" data-v-4aba73b1=""></rect>
          <path
            d="M280.86,197.89H258.54V161H268v29.68h12.14Zm12.59,0H284V161h9.48Zm33.59,0H317.5l-11.26-19.61v19.65h-9.49v-36.8h9.49l11.24,19.41V161.09H327v36.8Zm32.44,0h-9.59V182.66h-10v15.23H330.4V161h9.49v15h10V161h9.59Zm44.07,0c-.18-.25-.48-.73-.92-1.42l-3.28-5.19c-.72-1.14-1.38-2.16-2-3l-5.07-7.92V197.9h-9.55V161h9.55v16l10.43-16h10l-12.08,17.49a5.7383,5.7383,0,0,0,.48.79l1.29,2,1.86,2.78,9.2,13.82Zm22.3,0h-9.49V161h9.49Zm13-21.91h9.71L448,182.7h-9.1v7.92H451v7.27H429.32V161h21.76v7.12H438.9V176Zm9.32-17h-5.25l-2.68-3.29L437.5,159h-5.29l5.29-6.76H443l5.25,6.76Zm-8,42.49a2.83,2.83,0,0,1,2,.83,2.87,2.87,0,0,1,0,4,3,3,0,0,1-4.08,0,2.87,2.87,0,0,1,0-4,2.77,2.77,0,0,1,2.05-.83Zm44.41-3.62H475l-11.19-19.57v19.65h-9.49v-36.8h9.49l11.23,19.41V161.09h9.54v36.76Zm56-30.06a15,15,0,0,1,1.55,4.25,31.905,31.905,0,0,1,.53,6.4v2.3a26.5314,26.5314,0,0,1-1.24,9.19q-3.18,8.3-15.26,8.35h-5.65c-1.51,0-3,0-4.49-.07l-2.14-.05H512V181.91h-4.54V177.5H512V161.22l14.17-.13a20.68,20.68,0,0,1,9.7,2,11.4193,11.4193,0,0,1,4.81,4.75Zm-7.11,9.49q0-5.42-1.7-7.17c-1-1.08-3.22-1.63-6.55-1.63-1.34,0-2.67.06-4,.19v8.81h5.22v4.41h-5.2v8.9a27.5734,27.5734,0,0,0,3.27.19h1c3.33,0,5.5-.59,6.53-1.8a5.3812,5.3812,0,0,0,1-2,15.27,15.27,0,0,0,.51-4.25v-5.65Zm22.32,20.59H546.3V161h9.49v36.87ZM568.84,176h9.71l-.61,6.72h-9.1v7.92H581v7.27H559.24V161H581v7.12H568.84Zm9.32-17h-5.24l-2.77-3.33L567.41,159h-5.29l5.29-6.76h5.51Zm-8,42.49a2.85,2.85,0,0,1,2,4.87,2.8284,2.8284,0,1,1-2-4.83Zm44.41-3.62H605L593.76,178.3v19.65H584.3v-36.8h9.49L605,180.54V161.09h9.54v36.76Zm41.93-29.68v29.68h-9.56V168.21h-8.8v-7.12h27.24v7.12Zm45.86,12.43c0,4.24-.43,7.28-1.28,9.14a12.38,12.38,0,0,1-5.78,6.38,22.76,22.76,0,0,1-19,0,12.38,12.38,0,0,1-5.82-6.38c-.82-1.68-1.23-4.72-1.23-9.14V161.09h9.24v21.42c0,3.51.51,5.66,1.53,6.48.85,1.15,2.78,1.78,5.77,1.87,3-.09,4.92-.72,5.73-1.87,1-.82,1.43-2.93,1.43-6.33V161.09h9.39v19.55Zm-9.68-27.66a5.2693,5.2693,0,0,1-.34,2c-.69,1.46-2.37,2.49-5,3.09l-.36,1.46L684.4,159l-.12-3c1.05-.33,2.09-.71,3.1-1.14a3.71,3.71,0,0,0,1.17-.75c.15-.11.22-.53.22-1.27s-.08-1.15-.24-1.25a1.86,1.86,0,0,0-1.24-.26,14.0891,14.0891,0,0,0-1.72.14l-1,.14-1.43.25.29-2.78a17.2187,17.2187,0,0,1,4.22-.56,5.21,5.21,0,0,1,4.42,1.82,4.2289,4.2289,0,0,1,.6,2.43v.16Zm8.54,14a9.82,9.82,0,0,0,6-6.48l.14-.58a3.8594,3.8594,0,0,0,.1-.83,5.0025,5.0025,0,0,0-.1-1.16,1.56,1.56,0,0,0-.58-.95,2.5312,2.5312,0,0,0-1.14-.46,4.7793,4.7793,0,0,0-1-.1,4.6286,4.6286,0,0,0-.9.12,2.5,2.5,0,0,0-1.14.44,2.77,2.77,0,0,0-.85,1.91,3.0006,3.0006,0,0,0,.51,2,3.45,3.45,0,0,0,1.6.82l.25.07c-.27,1.11-1.25,2-3,2.64Z"
            style="fill:#34495d;fill-rule:evenodd;" data-v-4aba73b1=""></path>
          <path
            d="M71.52,12.41,140.46,100v29.77L55.32,21.61H18.41V179.48H97.14l14.5,18.41H0V3.19H64.24l14.5,18.42-7.24-9.2Zm69.59,176.26-7.24-9.19,14.5,18.41h64.27V3.19H101l14.5,18.42h78.75V179.48H157.31L72.17,71.34V101.1Z"
            style="fill:#f18c0c;fill-rule:evenodd;" data-v-4aba73b1=""></path>
        </svg>
      </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link" href="/generate-fake-data">
              Fake data product
            </a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>